.player {
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 31rem;
  height: 19rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.555);
          box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.555);
  position: relative;
  right: 1.9%;
  display: block;
}

@media only screen and (max-device-width: 990px) {
  .player {
    width: 20rem;
    height: 12rem;
  }
}

.record {
  height: 175px;
  width: 175px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-device-width: 990px) {
  .record {
    width: 85px !important;
    height: 85px !important;
  }
}

.record:before {
  content: "";
  position: absolute;
  height: 135px;
  width: 135px;
  border: 5px solid transparent;
  border-top: 5px solid #2C2424;
  border-bottom: 5px solid #2C2424;
  border-radius: 50%;
}

@media only screen and (max-device-width: 990px) {
  .record:before {
    width: 40px !important;
    height: 40px !important;
  }
}

.record:after {
  content: "";
  position: absolute;
  height: 95px;
  width: 95px;
  border: 5px solid transparent;
  border-top: 5px solid #2C2424;
  border-bottom: 5px solid #2C2424;
  border-radius: 50%;
}

@media only screen and (max-device-width: 990px) {
  .record:after {
    height: 40px !important;
    width: 40px !important;
  }
}

.label {
  background-color: #000000;
  height: 15px;
  width: 15px;
  border: 10px solid #2C2424;
  border-radius: 50%;
}

@media only screen and (max-device-width: 990px) {
  .label {
    width: 5px !important;
    height: 5px !important;
    border: 3px solid #2C2424;
  }
}

.screw {
  background-color: #000;
  height: 17px;
  width: 17px;
  border: 10px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

@media only screen and (max-device-width: 990px) {
  .screw {
    width: 10px !important;
    height: 10px !important;
    position: absolute !important;
    top: -20px !important;
    left: 10px !important;
  }
}

.stick {
  height: 90px;
  width: 6px;
  background-color: #ffffff;
  position: absolute;
  top: 25px;
  right: 95px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media only screen and (max-device-width: 990px) {
  .stick {
    display: none;
  }
}

.play {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-device-width: 990px) {
  .play {
    display: none;
  }
}

.stick:before {
  content: "";
  height: 40px;
  width: 6px;
  background-color: black;
  position: absolute;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  bottom: -36px;
  right: 10px;
}

.stick:after {
  content: "";
  position: absolute;
  height: 0;
  width: 10px;
  border-top: 18px solid #B2AEA6;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 108px;
  right: 12.5px;
}

.power {
  height: 28px;
  width: 28px;
  background-color: black;
  border-radius: 15px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  border-top: 16px solid transparent;
  border-left: 23px solid #fff;
  border-bottom: 14px solid transparent;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  outline: none;
  cursor: pointer;
}

.on {
  -webkit-animation: rotate 3s 1s linear infinite;
          animation: rotate 3s 1s linear infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slider {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 90px;
  height: 7px;
  -webkit-appearance: none;
  border-radius: 3px;
  outline: none;
  position: absolute;
  left: 233px;
  top: 60px;
}

@media only screen and (max-device-width: 990px) {
  .slider {
    width: 50px !important;
    left: 103px;
    top: 30px;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

.loader {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #181312;
  font-family: 'Rubik',sans-serif;
  font-size: 22px;
}
