.portfolio {
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-all {
  width: 84rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-right: 5rem;
}

@media only screen and (max-device-width: 1280px) {
  .portfolio .portfolio-all {
    margin: 0 auto !important;
    margin-top: 3% !important;
  }
}

@media only screen and (max-device-width: 990px) {
  .portfolio .portfolio-all {
    width: 75% !important;
  }
}

.portfolio .portfolio-all .portfolio-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

@media only screen and (max-device-width: 1280px) {
  .portfolio .portfolio-all .portfolio-head {
    margin-left: 0 !important;
  }
}

@media only screen and (max-device-width: 990px) {
  .portfolio .portfolio-all .portfolio-head {
    margin-left: 5% !important;
  }
}

.portfolio .portfolio-all .portfolio-head .portfolio-div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.08);
  color: #999;
  width: 8.9rem;
  height: 3.9rem;
  padding: 1rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.portfolio .portfolio-all .portfolio-head .portfolio-text {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
}

.portfolio .portfolio-all .portfolio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83rem;
  overflow: hidden;
}

@media only screen and (max-device-width: 990px) {
  .portfolio .portfolio-all .portfolio-img {
    width: 70vw !important;
  }
}

.portfolio .portfolio-all .portfolio-img .img {
  background-image: url("../img/gray2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 39rem;
  background-color: #fff;
  height: 41.5rem;
  margin-bottom: 5rem;
  -webkit-transition: .8s ease;
  transition: .8s ease;
  -webkit-box-shadow: 0 0 15px #252525;
          box-shadow: 0 0 15px #252525;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

@media only screen and (max-device-width: 990px) {
  .portfolio .portfolio-all .portfolio-img .img {
    width: 70vw !important;
  }
}

.portfolio .portfolio-all .portfolio-img .img:hover {
  -webkit-transform: scale(1.03) translateZ(0);
          transform: scale(1.03) translateZ(0);
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.portfolio .portfolio-all .portfolio-img .img:hover > .portfolio-hover {
  opacity: 1;
  -webkit-animation: mymov 0.85s;
          animation: mymov 0.85s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes mymov {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes mymov {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;
  }
}

.portfolio .portfolio-all .portfolio-img .img .portfolio-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 0.5px;
  position: relative;
}

.portfolio .portfolio-all .portfolio-img a {
  margin-left: 3rem;
  width: 100%;
  height: 41.5rem;
  margin-bottom: 4rem;
}

@media only screen and (max-device-width: 1280px) {
  .portfolio .portfolio-all .portfolio-img a {
    padding-left: 0 !important;
  }
}
