@import "./breakpoint.scss";

.contact{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    .contact-all{
        width:84rem;
        min-height: 100vh;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        @include respond(desktop){
            margin: 0 auto !important;
            // flex-direction: column !important;
            margin-top: 3% !important;
          }
        @include respond(laptop){
            width: 100% !important;
        }

        .contact-head{
            width: 100%;
            display: flex;
            justify-content: left;
            flex-direction: column;
            margin-bottom: 5rem;

            @include respond(desktop){
                margin-left: 0 !important;
                }
                @include respond(laptop){
                    padding-left: 8% !important;
                }


            .contact-div{
                box-sizing: border-box;
                background-color: hsla(0,0%,100%,.08);
                color: #999;
                width: 7.9rem;
                height: 3.9rem;
                padding: 1rem 1rem;
                align-items: center;
                font-size:1.2rem ;
                font-weight: 600;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }
            .head-text{
                color: #fff;
                font-size: 3rem;
                font-weight: 800;
            }
        }
        .contact-inputs{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            input{
                font-size: 1.5rem;
                color: #fff;
                background-color: #111111;
                width:83rem ;
                height: 4.4rem;
                padding: 1rem 1.5rem;
                border: 1px solid rgba(255, 255, 255, 0.349);
                margin-bottom: 3rem;
                transition: outline-color 0.7s ease;

                @include respond(laptop){
                    width: 85vw !important;
                }

                &::placeholder{
                opacity: 0.5;
                color: #c55923;
                font-style: italic;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 0.2rem;
                line-height: 1.6rem;

                
                }
            }:focus {
                outline: solid;
                outline-width: 1px;
                outline-color: #c55923;
              }
        }
        .contact-textbox{
            display: flex;
            align-items: center;
            justify-content: center;
            // z-index: 9999;
            input{
                font-size: 1.5rem;
                color: #fff;
                background-color: #111111;
                width:83rem ;
                height: 12rem;
                padding: 1rem;
                padding-bottom: 8rem;
                border: 1px solid rgba(255, 255, 255, 0.349);
                margin-bottom: 3rem;
                transition: outline-color 0.5s ease-out;

                @include respond(laptop){
                    width: 85vw !important;
                }

                &::placeholder{
                color: #c55923;
                opacity: 0.5;
                font-style: italic;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 0.2rem;
                line-height: 1.6rem;

                
                }
            }:focus {
                outline: solid;
                outline-width: 1px;
                outline-color: #c55923;
              }
        }
        .contact-button{
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond(laptop){
                margin-right: 20% !important;
            }


            .contact-btn{
                color:  rgb(41, 39, 39);
                background-color: #fff;
                font-size: 1.5rem;
                padding: 1.5rem 2.5rem;
                margin-right: 9rem;
                border: none;
                // cursor: pointer;
                font-weight: 700;
                transition: all 0.5s;
                border-radius: 0.2rem;

               
    
                
            &:hover{
                letter-spacing: 1.7px;
                    font-size: 1.5rem;
                    padding: 1.5rem 2.7rem;
                    transition: all 0.5s;
            }}
        }
    }}