@import "./home.scss";
@import "./about.scss";
@import "./portfolio.scss";
@import "./blogs.scss";
@import "./contact.scss";
@import "./bg.sass";
@import "./breakpoint.scss";

.lines{
    z-index: -9999;
}


// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 10px;
}
body{
    background-color: #111111;
    font-family: 'Mulish', sans-serif;
    overflow: scroll;
}

// preloader

.preloader {
    background: #000;
    color: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99999;
    display: flex;
    transition: 0.5s;
    opacity: 1;
    justify-content: center;
    align-items: center;

    @include respond(desktop){
      display: flex;
      flex-direction: column;
    }
    
    &-mask {
      overflow: hidden;
      padding-right: 13px;
    }
    
    &-text {
      margin: 0;
      font-size: 22px;
      transform: translateY(135%);
      transition: transform .3s cubic-bezier(.4,-0.19,.42,1.3);
    }
    
    .animate {
        animation-duration: .7s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.4,-0.19,.42,1.3);
  
      &.slide-up {
        animation-name: slideUp;
      }
  
      &.delay-1 {
        animation-delay: .3s
      }
  
      &.delay-2 {
        animation-delay: .5s
      }
    }
  
    &.loaded {
      .animate {
        animation-name: slideDown;
        animation-delay: .6s;
        
        &.delay-1 {
          animation-delay: .4s
        }
      
        &.delay-2 {
          animation-delay: .2s;
        }
      }
    }
  }
  
  
  @keyframes slideUp {
    0% {
      transform: translateY(135%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-135%);
    }
  }


// nav bar start
.header{
    position: fixed;
    z-index: 999;
    width:40rem;
    min-height: 100vh;
    background-color: #000;
    padding: 5rem 10rem 0 10rem;
    box-shadow: 1px 3px 2px black;

    @include respond(desktop){
        width: 100% !important;
        height: 70px !important;
        padding: 20px 40px !important;
        min-height: unset !important;
        display: flex;
        justify-content: space-between !important;
    }

    .nav-logo{
        position: relative;
        right: 25%;
        background-image: url("../img/surname2.jpeg");
        width: 25rem;
        height: 10rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include respond(desktop){
            right: 0 !important;
            width: 15rem;
            height: 5rem;
            display: flex !important;
            bottom: 20% !important;
        }
    }
    
    .nav-bar{
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        width: 20rem;
        height: 100%;

        @include respond(desktop){
            position: unset !important;
            width: 150px !important;

        }
        // @include respond(laptop){
        //     width: 150px !important;
        // }
        .nav-menu{
            display: flex;
            flex-direction: column;
            padding: 15rem 0 0 0;

            @include respond(desktop){
                display: flex;
                flex-direction: row !important;
                padding: 0 !important;
            }
        }
        .copyright{
            margin-top: 10rem;
            color: #bbb;
            font-size: 1.5rem;
            font-style: italic;
            // margin-top: ;
            @include respond(desktop){
                display:none !important;
            }
            a{
                font-weight: 500;
                letter-spacing: 1.5px;
                font-size: 1.6rem;
                line-height: 3rem;
                transition: all 0.8s ease;
                text-decoration: none;
                color: #fff;
                outline: none;
                &:hover{
                    letter-spacing: 2.5px;
                    transition: all 0.8s ease;
                    color: #c55923;
                }
            }

        }
    }
}

.menu-li{
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
    cursor: pointer;

    @include respond(desktop){
        margin-top: 0 !important;
    }
    .i{
        color: #bbb;
        margin-right: .7rem;
        width: 2rem;
        transition: 0.6s;

        @include respond(desktop){
            margin-right: 1.2rem !important;
        }
        i{
          color:  #c55923;
        margin-top:.7rem;
        font-size: 1.4rem;
        transition: 0.6s;

        @include respond(desktop){
            font-size: 1.6rem !important;
        }
        }
    }
    p{
        font-size: 1.55rem;
        letter-spacing: 2px;
        line-height: 3rem;
        font-weight: 500;
        color: #bbb;
        transition: 0.6s;

        @include respond(desktop){
            display: none !important;
        }

        &:hover{
          
            letter-spacing: 3.8px;
            transition: 0.6s;
            color:  #c55923;
            
        }
    }
    
}


// nav bar end


// animation 

.section__anima{
    animation: sectionanima 0.5s linear;

}

@keyframes sectionanima{
    0%{
        transform:translateX(-40%);
        opacity:0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}




// responsive start

