@import './breakpoint.scss';
// music


.player{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
      width: 31rem;
      height: 19rem;
      border-radius: 8px;
      box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.555) ;
      position: relative;
      right: 1.9%;
      display: block;

      @include respond(laptop){
        width: 20rem;
        height: 12rem;
      }

    }
    .record{
      height: 175px;
      width: 175px;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top:10px;
      left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(laptop){
        width: 85px !important;
        height: 85px !important;
      }
    }
    .record:before{
      content: "";
      position: absolute;
      height: 135px;
      width: 135px;
      border:5px solid transparent;
      border-top:5px solid #2C2424;
      border-bottom:5px solid #2C2424;
      border-radius: 50%;

      @include respond(laptop){
        width: 40px !important;
        height: 40px !important;
      }
    }
    .record:after{
      content: "";
      position: absolute;
      height: 95px;
      width: 95px;
      border:5px solid transparent;
      border-top:5px solid #2C2424;
      border-bottom:5px solid #2C2424;
      border-radius: 50%;

      @include respond(laptop){
        height: 40px !important;
        width: 40px !important;
      }
    }
    .label{
      background-color: #000000;
      height: 15px;
      width: 15px;
      border:10px solid #2C2424;
      border-radius: 50%;

      @include respond(laptop){
        width: 5px !important;
        height: 5px !important;
        border: 3px solid #2C2424;
      }
    }
    .screw{
      background-color: #000;
      height: 17px;
      width: 17px;
      border:10px solid #000;
      border-radius: 50%;
      position: absolute;
      top:-10px;
      left: -10px;

      @include respond(laptop){
        width: 10px !important;
        height: 10px !important;
        position: absolute !important;
        top: -20px !important;
        left: 10px !important;
      }
    }
    .stick{
      height: 90px;
      width: 6px;
      background-color: #ffffff;
      position: absolute;
      top:25px;
      right: 95px;
      transition: 1s;
      transform-origin: top; 

      @include respond(laptop){
        display: none;
      }
    }
    .play{
      transform:rotate(30deg);
      transform-origin: top; 
      transition: 1s;
      @include respond(laptop){
        display: none;
      }
    }
    .stick:before{
      content: "";
      height: 40px;
      width: 6px;
      background-color: black;
      position: absolute;
      transform: rotate(30deg);
      bottom:-36px;
      right: 10px;

      
    }
    .stick:after{
      content: "";
      position: absolute;
      height: 0;
      width: 10px;
      border-top: 18px solid #B2AEA6;
      border-left:2px solid transparent;
      border-right:2px solid transparent;
      transform: rotate(30deg);
      top:108px;
      right: 12.5px;

      @include respond(laptop)
    }
    .power{
      height: 28px;
      width: 28px;
      background-color: black;
      border-radius: 15px;
      position: absolute;
      bottom: 20px;
      right: 30px;
      border-top: 16px solid transparent;
      border-left: 23px solid #fff;
      border-bottom: 14px solid transparent;
    
      animation-play-state: paused;
      outline: none;
      cursor:pointer;

      
    }
    .on{
      animation: rotate 3s 1s linear infinite;
    }
    @keyframes rotate{
      100%{
        transform: rotate(360deg);
      }
    }
    .slider{
      transform: rotate(-90deg);
      width: 90px;
      height: 7px;
      -webkit-appearance:none;
      // background-color: gray ;
      // border:6px solid black ;
      border-radius: 3px;
      outline: none;
      position: absolute;
      left: 233px;
      top:60px;

      @include respond(laptop){
        width: 50px !important;
        left: 103px;
        top: 30px;
      }
    }
    .slider::-webkit-slider-thumb{
      -webkit-appearance:none;
      background-color: rgb(0, 0, 0);
      width:10px;
      height: 12px; 
      cursor: pointer; 
    }
    .loader{
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #181312;
      font-family: 'Rubik',sans-serif;
      font-size: 22px;

      @include respond(laptop)
    
    }